//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header-sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: @pg-white-color;
        border-bottom: 1px solid @pg-border-light-bg;

        .link.wishlist {
            display: none;
        }

        .header.content {
            padding-bottom: 6px;
        }

        .header-top-line {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .header-sticky {
        padding: 30px 0 0;
        .logo {
            display: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
   .header-sticky {
       .header-main {
           grid-template-columns: 2fr 1fr 2fr;
           .logo {
               margin: 0 15px;
           }
       }

       .header-right-col {
           display: none;
       }

       .header-left-col {
           grid-column: 3 / span 1;
           > * {
               margin-top: 0;
           }
       }

       .header-center-col {
           grid-column: 1 / span 1;
       }

       .panel.header {
           padding: 0;
       }
   }

    .page-wrapper {
        .header-sticky {
            .panel.wrapper {
                margin: 0;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .header-sticky {
        .header-main {
            grid-template-columns: 1fr 4fr 1fr;
        }

        .nav-sections {
            grid-column: 2 / span 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }
    }
}
