/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@accesebility-icon-name: 'accesebility-icon';
@accesebility-icon-x: 186px;
@accesebility-icon-y: 91px;
@accesebility-icon-offset-x: -186px;
@accesebility-icon-offset-y: -91px;
@accesebility-icon-width: 19px;
@accesebility-icon-height: 22px;
@accesebility-icon-total-width: 259px;
@accesebility-icon-total-height: 232px;
@accesebility-icon-image: '../images/sprite.png';
@accesebility-icon: 186px 91px -186px -91px 19px 22px 259px 232px '../images/sprite.png' 'accesebility-icon';
@account-icon-mobile-name: 'account-icon-mobile';
@account-icon-mobile-x: 106px;
@account-icon-mobile-y: 0px;
@account-icon-mobile-offset-x: -106px;
@account-icon-mobile-offset-y: 0px;
@account-icon-mobile-width: 35px;
@account-icon-mobile-height: 35px;
@account-icon-mobile-total-width: 259px;
@account-icon-mobile-total-height: 232px;
@account-icon-mobile-image: '../images/sprite.png';
@account-icon-mobile: 106px 0px -106px 0px 35px 35px 259px 232px '../images/sprite.png' 'account-icon-mobile';
@account-icon-name: 'account-icon';
@account-icon-x: 186px;
@account-icon-y: 65px;
@account-icon-offset-x: -186px;
@account-icon-offset-y: -65px;
@account-icon-width: 21px;
@account-icon-height: 21px;
@account-icon-total-width: 259px;
@account-icon-total-height: 232px;
@account-icon-image: '../images/sprite.png';
@account-icon: 186px 65px -186px -65px 21px 21px 259px 232px '../images/sprite.png' 'account-icon';
@attention-icon-name: 'attention-icon';
@attention-icon-x: 43px;
@attention-icon-y: 192px;
@attention-icon-offset-x: -43px;
@attention-icon-offset-y: -192px;
@attention-icon-width: 17px;
@attention-icon-height: 17px;
@attention-icon-total-width: 259px;
@attention-icon-total-height: 232px;
@attention-icon-image: '../images/sprite.png';
@attention-icon: 43px 192px -43px -192px 17px 17px 259px 232px '../images/sprite.png' 'attention-icon';
@bag-icon-mobile-name: 'bag-icon-mobile';
@bag-icon-mobile-x: 40px;
@bag-icon-mobile-y: 47px;
@bag-icon-mobile-offset-x: -40px;
@bag-icon-mobile-offset-y: -47px;
@bag-icon-mobile-width: 35px;
@bag-icon-mobile-height: 35px;
@bag-icon-mobile-total-width: 259px;
@bag-icon-mobile-total-height: 232px;
@bag-icon-mobile-image: '../images/sprite.png';
@bag-icon-mobile: 40px 47px -40px -47px 35px 35px 259px 232px '../images/sprite.png' 'bag-icon-mobile';
@calendar-icon-name: 'calendar-icon';
@calendar-icon-x: 216px;
@calendar-icon-y: 157px;
@calendar-icon-offset-x: -216px;
@calendar-icon-offset-y: -157px;
@calendar-icon-width: 23px;
@calendar-icon-height: 20px;
@calendar-icon-total-width: 259px;
@calendar-icon-total-height: 232px;
@calendar-icon-image: '../images/sprite.png';
@calendar-icon: 216px 157px -216px -157px 23px 20px 259px 232px '../images/sprite.png' 'calendar-icon';
@car-icon-name: 'car-icon';
@car-icon-x: 157px;
@car-icon-y: 158px;
@car-icon-offset-x: -157px;
@car-icon-offset-y: -158px;
@car-icon-width: 17px;
@car-icon-height: 13px;
@car-icon-total-width: 259px;
@car-icon-total-height: 232px;
@car-icon-image: '../images/sprite.png';
@car-icon: 157px 158px -157px -158px 17px 13px 259px 232px '../images/sprite.png' 'car-icon';
@car-large-icon-name: 'car-large-icon';
@car-large-icon-x: 42px;
@car-large-icon-y: 127px;
@car-large-icon-offset-x: -42px;
@car-large-icon-offset-y: -127px;
@car-large-icon-width: 37px;
@car-large-icon-height: 23px;
@car-large-icon-total-width: 259px;
@car-large-icon-total-height: 232px;
@car-large-icon-image: '../images/sprite.png';
@car-large-icon: 42px 127px -42px -127px 37px 23px 259px 232px '../images/sprite.png' 'car-large-icon';
@card-attention-icon-name: 'card-attention-icon';
@card-attention-icon-x: 53px;
@card-attention-icon-y: 0px;
@card-attention-icon-offset-x: -53px;
@card-attention-icon-offset-y: 0px;
@card-attention-icon-width: 48px;
@card-attention-icon-height: 36px;
@card-attention-icon-total-width: 259px;
@card-attention-icon-total-height: 232px;
@card-attention-icon-image: '../images/sprite.png';
@card-attention-icon: 53px 0px -53px 0px 48px 36px 259px 232px '../images/sprite.png' 'card-attention-icon';
@card-checked-icon-name: 'card-checked-icon';
@card-checked-icon-x: 120px;
@card-checked-icon-y: 127px;
@card-checked-icon-offset-x: -120px;
@card-checked-icon-offset-y: -127px;
@card-checked-icon-width: 28px;
@card-checked-icon-height: 20px;
@card-checked-icon-total-width: 259px;
@card-checked-icon-total-height: 232px;
@card-checked-icon-image: '../images/sprite.png';
@card-checked-icon: 120px 127px -120px -127px 28px 20px 259px 232px '../images/sprite.png' 'card-checked-icon';
@card-icon-mobile-name: 'card-icon-mobile';
@card-icon-mobile-x: 80px;
@card-icon-mobile-y: 87px;
@card-icon-mobile-offset-x: -80px;
@card-icon-mobile-offset-y: -87px;
@card-icon-mobile-width: 35px;
@card-icon-mobile-height: 35px;
@card-icon-mobile-total-width: 259px;
@card-icon-mobile-total-height: 232px;
@card-icon-mobile-image: '../images/sprite.png';
@card-icon-mobile: 80px 87px -80px -87px 35px 35px 259px 232px '../images/sprite.png' 'card-icon-mobile';
@card-icon-name: 'card-icon';
@card-icon-x: 65px;
@card-icon-y: 192px;
@card-icon-offset-x: -65px;
@card-icon-offset-y: -192px;
@card-icon-width: 18px;
@card-icon-height: 14px;
@card-icon-total-width: 259px;
@card-icon-total-height: 232px;
@card-icon-image: '../images/sprite.png';
@card-icon: 65px 192px -65px -192px 18px 14px 259px 232px '../images/sprite.png' 'card-icon';
@card-large-icon-name: 'card-large-icon';
@card-large-icon-x: 0px;
@card-large-icon-y: 127px;
@card-large-icon-offset-x: 0px;
@card-large-icon-offset-y: -127px;
@card-large-icon-width: 37px;
@card-large-icon-height: 26px;
@card-large-icon-total-width: 259px;
@card-large-icon-total-height: 232px;
@card-large-icon-image: '../images/sprite.png';
@card-large-icon: 0px 127px 0px -127px 37px 26px 259px 232px '../images/sprite.png' 'card-large-icon';
@card-wh-numbers-icon-name: 'card-wh-numbers-icon';
@card-wh-numbers-icon-x: 84px;
@card-wh-numbers-icon-y: 127px;
@card-wh-numbers-icon-offset-x: -84px;
@card-wh-numbers-icon-offset-y: -127px;
@card-wh-numbers-icon-width: 31px;
@card-wh-numbers-icon-height: 22px;
@card-wh-numbers-icon-total-width: 259px;
@card-wh-numbers-icon-total-height: 232px;
@card-wh-numbers-icon-image: '../images/sprite.png';
@card-wh-numbers-icon: 84px 127px -84px -127px 31px 22px 259px 232px '../images/sprite.png' 'card-wh-numbers-icon';
@card-wh-plus-icon-name: 'card-wh-plus-icon';
@card-wh-plus-icon-x: 153px;
@card-wh-plus-icon-y: 127px;
@card-wh-plus-icon-offset-x: -153px;
@card-wh-plus-icon-offset-y: -127px;
@card-wh-plus-icon-width: 28px;
@card-wh-plus-icon-height: 20px;
@card-wh-plus-icon-total-width: 259px;
@card-wh-plus-icon-total-height: 232px;
@card-wh-plus-icon-image: '../images/sprite.png';
@card-wh-plus-icon: 153px 127px -153px -127px 28px 20px 259px 232px '../images/sprite.png' 'card-wh-plus-icon';
@cart-icon-mobile-name: 'cart-icon-mobile';
@cart-icon-mobile-x: 146px;
@cart-icon-mobile-y: 0px;
@cart-icon-mobile-offset-x: -146px;
@cart-icon-mobile-offset-y: 0px;
@cart-icon-mobile-width: 35px;
@cart-icon-mobile-height: 35px;
@cart-icon-mobile-total-width: 259px;
@cart-icon-mobile-total-height: 232px;
@cart-icon-mobile-image: '../images/sprite.png';
@cart-icon-mobile: 146px 0px -146px 0px 35px 35px 259px 232px '../images/sprite.png' 'cart-icon-mobile';
@cart-icon-name: 'cart-icon';
@cart-icon-x: 216px;
@cart-icon-y: 100px;
@cart-icon-offset-x: -216px;
@cart-icon-offset-y: -100px;
@cart-icon-width: 25px;
@cart-icon-height: 25px;
@cart-icon-total-width: 259px;
@cart-icon-total-height: 232px;
@cart-icon-image: '../images/sprite.png';
@cart-icon: 216px 100px -216px -100px 25px 25px 259px 232px '../images/sprite.png' 'cart-icon';
@cart-large-icon-name: 'cart-large-icon';
@cart-large-icon-x: 216px;
@cart-large-icon-y: 0px;
@cart-large-icon-offset-x: -216px;
@cart-large-icon-offset-y: 0px;
@cart-large-icon-width: 27px;
@cart-large-icon-height: 28px;
@cart-large-icon-total-width: 259px;
@cart-large-icon-total-height: 232px;
@cart-large-icon-image: '../images/sprite.png';
@cart-large-icon: 216px 0px -216px 0px 27px 28px 259px 232px '../images/sprite.png' 'cart-large-icon';
@cart-light-icon-name: 'cart-light-icon';
@cart-light-icon-x: 186px;
@cart-light-icon-y: 118px;
@cart-light-icon-offset-x: -186px;
@cart-light-icon-offset-y: -118px;
@cart-light-icon-width: 20px;
@cart-light-icon-height: 20px;
@cart-light-icon-total-width: 259px;
@cart-light-icon-total-height: 232px;
@cart-light-icon-image: '../images/sprite.png';
@cart-light-icon: 186px 118px -186px -118px 20px 20px 259px 232px '../images/sprite.png' 'cart-light-icon';
@check-attention-icon-name: 'check-attention-icon';
@check-attention-icon-x: 32px;
@check-attention-icon-y: 158px;
@check-attention-icon-offset-x: -32px;
@check-attention-icon-offset-y: -158px;
@check-attention-icon-width: 32px;
@check-attention-icon-height: 24px;
@check-attention-icon-total-width: 259px;
@check-attention-icon-total-height: 232px;
@check-attention-icon-image: '../images/sprite.png';
@check-attention-icon: 32px 158px -32px -158px 32px 24px 259px 232px '../images/sprite.png' 'check-attention-icon';
@check-dark-icon-name: 'check-dark-icon';
@check-dark-icon-x: 126px;
@check-dark-icon-y: 192px;
@check-dark-icon-offset-x: -126px;
@check-dark-icon-offset-y: -192px;
@check-dark-icon-width: 13px;
@check-dark-icon-height: 13px;
@check-dark-icon-total-width: 259px;
@check-dark-icon-total-height: 232px;
@check-dark-icon-image: '../images/sprite.png';
@check-dark-icon: 126px 192px -126px -192px 13px 13px 259px 232px '../images/sprite.png' 'check-dark-icon';
@check-large-icon-name: 'check-large-icon';
@check-large-icon-x: 120px;
@check-large-icon-y: 87px;
@check-large-icon-offset-x: -120px;
@check-large-icon-offset-y: -87px;
@check-large-icon-width: 18px;
@check-large-icon-height: 18px;
@check-large-icon-total-width: 259px;
@check-large-icon-total-height: 232px;
@check-large-icon-image: '../images/sprite.png';
@check-large-icon: 120px 87px -120px -87px 18px 18px 259px 232px '../images/sprite.png' 'check-large-icon';
@check-light-icon-name: 'check-light-icon';
@check-light-icon-x: 146px;
@check-light-icon-y: 110px;
@check-light-icon-offset-x: -146px;
@check-light-icon-offset-y: -110px;
@check-light-icon-width: 15px;
@check-light-icon-height: 11px;
@check-light-icon-total-width: 259px;
@check-light-icon-total-height: 232px;
@check-light-icon-image: '../images/sprite.png';
@check-light-icon: 146px 110px -146px -110px 15px 11px 259px 232px '../images/sprite.png' 'check-light-icon';
@clip-icon-name: 'clip-icon';
@clip-icon-x: 166px;
@clip-icon-y: 110px;
@clip-icon-offset-x: -166px;
@clip-icon-offset-y: -110px;
@clip-icon-width: 13px;
@clip-icon-height: 11px;
@clip-icon-total-width: 259px;
@clip-icon-total-height: 232px;
@clip-icon-image: '../images/sprite.png';
@clip-icon: 166px 110px -166px -110px 13px 11px 259px 232px '../images/sprite.png' 'clip-icon';
@close-icon-name: 'close-icon';
@close-icon-x: 21px;
@close-icon-y: 217px;
@close-icon-offset-x: -21px;
@close-icon-offset-y: -217px;
@close-icon-width: 15px;
@close-icon-height: 15px;
@close-icon-total-width: 259px;
@close-icon-total-height: 232px;
@close-icon-image: '../images/sprite.png';
@close-icon: 21px 217px -21px -217px 15px 15px 259px 232px '../images/sprite.png' 'close-icon';
@close-large-icon-name: 'close-large-icon';
@close-large-icon-x: 0px;
@close-large-icon-y: 217px;
@close-large-icon-offset-x: 0px;
@close-large-icon-offset-y: -217px;
@close-large-icon-width: 16px;
@close-large-icon-height: 15px;
@close-large-icon-total-width: 259px;
@close-large-icon-total-height: 232px;
@close-large-icon-image: '../images/sprite.png';
@close-large-icon: 0px 217px 0px -217px 16px 15px 259px 232px '../images/sprite.png' 'close-large-icon';
@facebook-dark-icon-name: 'facebook-dark-icon';
@facebook-dark-icon-x: 248px;
@facebook-dark-icon-y: 0px;
@facebook-dark-icon-offset-x: -248px;
@facebook-dark-icon-offset-y: 0px;
@facebook-dark-icon-width: 11px;
@facebook-dark-icon-height: 20px;
@facebook-dark-icon-total-width: 259px;
@facebook-dark-icon-total-height: 232px;
@facebook-dark-icon-image: '../images/sprite.png';
@facebook-dark-icon: 248px 0px -248px 0px 11px 20px 259px 232px '../images/sprite.png' 'facebook-dark-icon';
@facebook-icon-mobile-name: 'facebook-icon-mobile';
@facebook-icon-mobile-x: 146px;
@facebook-icon-mobile-y: 40px;
@facebook-icon-mobile-offset-x: -146px;
@facebook-icon-mobile-offset-y: -40px;
@facebook-icon-mobile-width: 30px;
@facebook-icon-mobile-height: 30px;
@facebook-icon-mobile-total-width: 259px;
@facebook-icon-mobile-total-height: 232px;
@facebook-icon-mobile-image: '../images/sprite.png';
@facebook-icon-mobile: 146px 40px -146px -40px 30px 30px 259px 232px '../images/sprite.png' 'facebook-icon-mobile';
@guestion-icon-name: 'guestion-icon';
@guestion-icon-x: 21px;
@guestion-icon-y: 192px;
@guestion-icon-offset-x: -21px;
@guestion-icon-offset-y: -192px;
@guestion-icon-width: 17px;
@guestion-icon-height: 17px;
@guestion-icon-total-width: 259px;
@guestion-icon-total-height: 232px;
@guestion-icon-image: '../images/sprite.png';
@guestion-icon: 21px 192px -21px -192px 17px 17px 259px 232px '../images/sprite.png' 'guestion-icon';
@heart-empty-icon-name: 'heart-empty-icon';
@heart-empty-icon-x: 179px;
@heart-empty-icon-y: 158px;
@heart-empty-icon-offset-x: -179px;
@heart-empty-icon-offset-y: -158px;
@heart-empty-icon-width: 15px;
@heart-empty-icon-height: 13px;
@heart-empty-icon-total-width: 259px;
@heart-empty-icon-total-height: 232px;
@heart-empty-icon-image: '../images/sprite.png';
@heart-empty-icon: 179px 158px -179px -158px 15px 13px 259px 232px '../images/sprite.png' 'heart-empty-icon';
@heart-full-icon-name: 'heart-full-icon';
@heart-full-icon-x: 107px;
@heart-full-icon-y: 192px;
@heart-full-icon-offset-x: -107px;
@heart-full-icon-offset-y: -192px;
@heart-full-icon-width: 14px;
@heart-full-icon-height: 13px;
@heart-full-icon-total-width: 259px;
@heart-full-icon-total-height: 232px;
@heart-full-icon-image: '../images/sprite.png';
@heart-full-icon: 107px 192px -107px -192px 14px 13px 259px 232px '../images/sprite.png' 'heart-full-icon';
@heart-icon-mobile-name: 'heart-icon-mobile';
@heart-icon-mobile-x: 40px;
@heart-icon-mobile-y: 87px;
@heart-icon-mobile-offset-x: -40px;
@heart-icon-mobile-offset-y: -87px;
@heart-icon-mobile-width: 35px;
@heart-icon-mobile-height: 35px;
@heart-icon-mobile-total-width: 259px;
@heart-icon-mobile-total-height: 232px;
@heart-icon-mobile-image: '../images/sprite.png';
@heart-icon-mobile: 40px 87px -40px -87px 35px 35px 259px 232px '../images/sprite.png' 'heart-icon-mobile';
@heart-icon-name: 'heart-icon';
@heart-icon-x: 216px;
@heart-icon-y: 69px;
@heart-icon-offset-x: -216px;
@heart-icon-offset-y: -69px;
@heart-icon-width: 26px;
@heart-icon-height: 26px;
@heart-icon-total-width: 259px;
@heart-icon-total-height: 232px;
@heart-icon-image: '../images/sprite.png';
@heart-icon: 216px 69px -216px -69px 26px 26px 259px 232px '../images/sprite.png' 'heart-icon';
@instagram-dark-icon-name: 'instagram-dark-icon';
@instagram-dark-icon-x: 186px;
@instagram-dark-icon-y: 39px;
@instagram-dark-icon-offset-x: -186px;
@instagram-dark-icon-offset-y: -39px;
@instagram-dark-icon-width: 21px;
@instagram-dark-icon-height: 21px;
@instagram-dark-icon-total-width: 259px;
@instagram-dark-icon-total-height: 232px;
@instagram-dark-icon-image: '../images/sprite.png';
@instagram-dark-icon: 186px 39px -186px -39px 21px 21px 259px 232px '../images/sprite.png' 'instagram-dark-icon';
@instagram-icon-mobile-name: 'instagram-icon-mobile';
@instagram-icon-mobile-x: 146px;
@instagram-icon-mobile-y: 75px;
@instagram-icon-mobile-offset-x: -146px;
@instagram-icon-mobile-offset-y: -75px;
@instagram-icon-mobile-width: 30px;
@instagram-icon-mobile-height: 30px;
@instagram-icon-mobile-total-width: 259px;
@instagram-icon-mobile-total-height: 232px;
@instagram-icon-mobile-image: '../images/sprite.png';
@instagram-icon-mobile: 146px 75px -146px -75px 30px 30px 259px 232px '../images/sprite.png' 'instagram-icon-mobile';
@label-large-icon-name: 'label-large-icon';
@label-large-icon-x: 0px;
@label-large-icon-y: 158px;
@label-large-icon-offset-x: 0px;
@label-large-icon-offset-y: -158px;
@label-large-icon-width: 27px;
@label-large-icon-height: 29px;
@label-large-icon-total-width: 259px;
@label-large-icon-total-height: 232px;
@label-large-icon-image: '../images/sprite.png';
@label-large-icon: 0px 158px 0px -158px 27px 29px 259px 232px '../images/sprite.png' 'label-large-icon';
@letter-icon-name: 'letter-icon';
@letter-icon-x: 69px;
@letter-icon-y: 158px;
@letter-icon-offset-x: -69px;
@letter-icon-offset-y: -158px;
@letter-icon-width: 23px;
@letter-icon-height: 16px;
@letter-icon-total-width: 259px;
@letter-icon-total-height: 232px;
@letter-icon-image: '../images/sprite.png';
@letter-icon: 69px 158px -69px -158px 23px 16px 259px 232px '../images/sprite.png' 'letter-icon';
@newsletter-icon-name: 'newsletter-icon';
@newsletter-icon-x: 97px;
@newsletter-icon-y: 158px;
@newsletter-icon-offset-x: -97px;
@newsletter-icon-offset-y: -158px;
@newsletter-icon-width: 23px;
@newsletter-icon-height: 16px;
@newsletter-icon-total-width: 259px;
@newsletter-icon-total-height: 232px;
@newsletter-icon-image: '../images/sprite.png';
@newsletter-icon: 97px 158px -97px -158px 23px 16px 259px 232px '../images/sprite.png' 'newsletter-icon';
@pintest-icon-name: 'pintest-icon';
@pintest-icon-x: 0px;
@pintest-icon-y: 192px;
@pintest-icon-offset-x: 0px;
@pintest-icon-offset-y: -192px;
@pintest-icon-width: 16px;
@pintest-icon-height: 20px;
@pintest-icon-total-width: 259px;
@pintest-icon-total-height: 232px;
@pintest-icon-image: '../images/sprite.png';
@pintest-icon: 0px 192px 0px -192px 16px 20px 259px 232px '../images/sprite.png' 'pintest-icon';
@position-attention-icon-name: 'position-attention-icon';
@position-attention-icon-x: 186px;
@position-attention-icon-y: 0px;
@position-attention-icon-offset-x: -186px;
@position-attention-icon-offset-y: 0px;
@position-attention-icon-width: 25px;
@position-attention-icon-height: 34px;
@position-attention-icon-total-width: 259px;
@position-attention-icon-total-height: 232px;
@position-attention-icon-image: '../images/sprite.png';
@position-attention-icon: 186px 0px -186px 0px 25px 34px 259px 232px '../images/sprite.png' 'position-attention-icon';
@position-icon-mobile-name: 'position-icon-mobile';
@position-icon-mobile-x: 106px;
@position-icon-mobile-y: 40px;
@position-icon-mobile-offset-x: -106px;
@position-icon-mobile-offset-y: -40px;
@position-icon-mobile-width: 35px;
@position-icon-mobile-height: 35px;
@position-icon-mobile-total-width: 259px;
@position-icon-mobile-total-height: 232px;
@position-icon-mobile-image: '../images/sprite.png';
@position-icon-mobile: 106px 40px -106px -40px 35px 35px 259px 232px '../images/sprite.png' 'position-icon-mobile';
@position-icon-name: 'position-icon';
@position-icon-x: 80px;
@position-icon-y: 47px;
@position-icon-offset-x: -80px;
@position-icon-offset-y: -47px;
@position-icon-width: 16px;
@position-icon-height: 22px;
@position-icon-total-width: 259px;
@position-icon-total-height: 232px;
@position-icon-image: '../images/sprite.png';
@position-icon: 80px 47px -80px -47px 16px 22px 259px 232px '../images/sprite.png' 'position-icon';
@question-icon-name: 'question-icon';
@question-icon-x: 88px;
@question-icon-y: 192px;
@question-icon-offset-x: -88px;
@question-icon-offset-y: -192px;
@question-icon-width: 14px;
@question-icon-height: 14px;
@question-icon-total-width: 259px;
@question-icon-total-height: 232px;
@question-icon-image: '../images/sprite.png';
@question-icon: 88px 192px -88px -192px 14px 14px 259px 232px '../images/sprite.png' 'question-icon';
@ruller-icon-name: 'ruller-icon';
@ruller-icon-x: 125px;
@ruller-icon-y: 158px;
@ruller-icon-offset-x: -125px;
@ruller-icon-offset-y: -158px;
@ruller-icon-width: 27px;
@ruller-icon-height: 13px;
@ruller-icon-total-width: 259px;
@ruller-icon-total-height: 232px;
@ruller-icon-image: '../images/sprite.png';
@ruller-icon: 125px 158px -125px -158px 27px 13px 259px 232px '../images/sprite.png' 'ruller-icon';
@safety-large-icon-name: 'safety-large-icon';
@safety-large-icon-x: 216px;
@safety-large-icon-y: 33px;
@safety-large-icon-offset-x: -216px;
@safety-large-icon-offset-y: -33px;
@safety-large-icon-width: 23px;
@safety-large-icon-height: 31px;
@safety-large-icon-total-width: 259px;
@safety-large-icon-total-height: 232px;
@safety-large-icon-image: '../images/sprite.png';
@safety-large-icon: 216px 33px -216px -33px 23px 31px 259px 232px '../images/sprite.png' 'safety-large-icon';
@search-icon-mobile-name: 'search-icon-mobile';
@search-icon-mobile-x: 0px;
@search-icon-mobile-y: 87px;
@search-icon-mobile-offset-x: 0px;
@search-icon-mobile-offset-y: -87px;
@search-icon-mobile-width: 35px;
@search-icon-mobile-height: 35px;
@search-icon-mobile-total-width: 259px;
@search-icon-mobile-total-height: 232px;
@search-icon-mobile-image: '../images/sprite.png';
@search-icon-mobile: 0px 87px 0px -87px 35px 35px 259px 232px '../images/sprite.png' 'search-icon-mobile';
@search-icon-name: 'search-icon';
@search-icon-x: 216px;
@search-icon-y: 130px;
@search-icon-offset-x: -216px;
@search-icon-offset-y: -130px;
@search-icon-width: 23px;
@search-icon-height: 22px;
@search-icon-total-width: 259px;
@search-icon-total-height: 232px;
@search-icon-image: '../images/sprite.png';
@search-icon: 216px 130px -216px -130px 23px 22px 259px 232px '../images/sprite.png' 'search-icon';
@search-open-icon-mobile-name: 'search-open-icon-mobile';
@search-open-icon-mobile-x: 0px;
@search-open-icon-mobile-y: 47px;
@search-open-icon-mobile-offset-x: 0px;
@search-open-icon-mobile-offset-y: -47px;
@search-open-icon-mobile-width: 35px;
@search-open-icon-mobile-height: 35px;
@search-open-icon-mobile-total-width: 259px;
@search-open-icon-mobile-total-height: 232px;
@search-open-icon-mobile-image: '../images/sprite.png';
@search-open-icon-mobile: 0px 47px 0px -47px 35px 35px 259px 232px '../images/sprite.png' 'search-open-icon-mobile';
@search-open-icon-name: 'search-open-icon';
@search-open-icon-x: 0px;
@search-open-icon-y: 0px;
@search-open-icon-offset-x: 0px;
@search-open-icon-offset-y: 0px;
@search-open-icon-width: 48px;
@search-open-icon-height: 42px;
@search-open-icon-total-width: 259px;
@search-open-icon-total-height: 232px;
@search-open-icon-image: '../images/sprite.png';
@search-open-icon: 0px 0px 0px 0px 48px 42px 259px 232px '../images/sprite.png' 'search-open-icon';
@spritesheet-width: 259px;
@spritesheet-height: 232px;
@spritesheet-image: '../images/sprite.png';
@spritesheet-sprites: @accesebility-icon @account-icon-mobile @account-icon @attention-icon @bag-icon-mobile @calendar-icon @car-icon @car-large-icon @card-attention-icon @card-checked-icon @card-icon-mobile @card-icon @card-large-icon @card-wh-numbers-icon @card-wh-plus-icon @cart-icon-mobile @cart-icon @cart-large-icon @cart-light-icon @check-attention-icon @check-dark-icon @check-large-icon @check-light-icon @clip-icon @close-icon @close-large-icon @facebook-dark-icon @facebook-icon-mobile @guestion-icon @heart-empty-icon @heart-full-icon @heart-icon-mobile @heart-icon @instagram-dark-icon @instagram-icon-mobile @label-large-icon @letter-icon @newsletter-icon @pintest-icon @position-attention-icon @position-icon-mobile @position-icon @question-icon @ruller-icon @safety-large-icon @search-icon-mobile @search-icon @search-open-icon-mobile @search-open-icon;
@spritesheet: 259px 232px '../images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
