//
//  Blank theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//
//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------
@tab-content__border-top-status: true;


//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Project theme variables
//  _____________________________________________

//
//  Media queries
//  ---------------------------------------------

@screen__l_1100: 1100px;

//
//  Main Colors
//  ---------------------------------------------

@pg-attention-color: #ff0000;
@pg-dark-color: #1a1a1a;
@pg-grey10-color: #404040;
@pg-grey20-color: #636262;
@pg-grey30-color: #999999;
@pg-grey40-color: #d9d9d9;
@pg-grey50-color: #f3f3f3;
@pg-grey60-color: #fafafa;
@pg-white-color: #fff;

//
//  Additional colors
//  ---------------------------------------------

@pj-successful-color: #55b047;
@pj-label-new-bg: #3cb878;
@pj-facebook-bg: #5b77b4;
@pj-facebook-bg-hover: #7c92c3;
@pj-radio-btn-bg: #fc4a9e;
@pj-border-light-bg: #c2c2c2;
@pj-border-dark-bg: #636262;
@pj-close-btn-color: #9c9c9c;
@pj-search-border-color: #ececec;
