//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .breadcrumbs {
        .item:not(:last-child):after {
            content: '/';
            font-size: 1.2rem;
            line-height: 1;
            padding: 0 5px;
            color: @pg-dark-color;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .breadcrumbs {
        margin: 15px auto 25px auto;
        padding-left: 0;
        padding-right: 0;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .breadcrumbs {
        margin: 15px auto 25px auto;
        padding-left: 0;
        padding-right: 0;
    }
}
