//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header-main {
        display: grid;
        grid-gap: 0 5px;
    }

    .page-header {
        margin-bottom: 0;
        border-bottom: none;
    }

    //
    //  Columns
    //  ---------------------------------------------

    .header-left-col,
    .header-center-col,
    .header-right-col {
        display: flex;
    }

    .header-left-col {
        justify-content: flex-end;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .header-main {
        padding: 0 0 10px;
        border-bottom: 1px solid @pg-border-light-bg;
    }

    .page-header {
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    //
    //  Columns
    //  ---------------------------------------------

    .header-left-col {
        padding-left: 15px;
        order: 4;
        > * {
            margin: 0 8px;
        }
    }

    .header-center-col {
        order: 2;
        grid-column: 1 / span 2;
    }

    .header-right-col {
        order: 3;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        padding-right: 20px;
        > * {
            margin: 0 5px;
        }
    }

    //
    //  Burger-menu
    //  ---------------------------------------------

    .nav-toggle {
        position: static;
        &:before {
            font-weight: bold;
            color: @pg-dark-color;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .header-main {
        padding: 0;
    }

    .page-header {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    //
    //  Columns
    //  ---------------------------------------------

    .header-left-col,
    .header-center-col,
    .header-right-col {
        align-items: center;
    }

    .header-left-col {
        order: 4;
        padding-left: 0;
        > * {
            margin: 5px 15px 0 10px;
            min-width: 26px;

        }
    }

    .header-center-col {
        order: 3;
    }

    .header-right-col {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .nav-sections {
        grid-row: 5;
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .header-main {
        width: 1500px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        margin: auto;
    }

    //
    //  Columns
    //  ---------------------------------------------

    .header-left-col {
        > * {
            margin: 5px 20px 0 12px;
        }
    }
}

@import './header/_top-line.less';
@import './header/_top-links.less';
@import './header/_logo.less';
@import './header/_top-nav.less';
@import './header/_header-sticky.less';

